body{
	background-color:#f4f4f4;
	font-family:arial;
	font-size:14px;
}
h1.redClass{ /* only applies to h1 redClass */
	color: red;
}
#container{
	width:460px;
	margin: auto;
	border: 1px solid #cccccc;
	padding: 0 20px 20px 20px;/* top right bottom left */
	border-radius: 10px;/* round the conrers*/
	text-align: center;
	background:#ffffff
	
}
img{
	border:#666 2px solid;
	padding: 4px;
	margin:2px;
	max-height: 100%;
	
}
.landscape{
	height:300px; /* manually adjust picture */

}